<br />

<div class="booyah-box col-10 offset-1">
  <h3> Although not currently hiring additional hands, might we suggest... <a target="_blank" href="https://lmgtfy.com/?q=plx+gib+job+thanks">this?</a></h3>